service:
  type: ClusterIP
  port: 8080

env:
  - name: RETAIL_CART_PERSISTENCE_PROVIDER
    value: dynamodb
  
  - name: RETAIL_CART_PERSISTENCE_DYNAMODB_ENDPOINT
    value: http://dynamodb-dynamodb-local:8000

  - name: RETAIL_CART_PERSISTENCE_DYNAMODB_TABLE_NAME
    value: Items

  - name: RETAIL_CART_PERSISTENCE_DYNAMODB_CREATE_TABLE
    value: "true"

resources:
  limits:
    cpu: 300m
    memory: 384Mi
  requests:
    cpu: 150m
    memory: 192Mi

autoscaling:
  enabled: false