service:
  type: ClusterIP
  port: 8080

postgresql:
  enabled: false
  
env:
  RETAIL_ORDERSSTENCE_PROVIDER: postgres

  RETAIL_ORDERS_PERSISTENCE_ENDPOINT: 

  RETAIL_ORDERS_PERSISTENCE_DB_NAME: bedrock_order_db

  RETAIL_ORDERS_PERSISTENCE_USER: 

  RETAIL_ORDERS_PERSISTENCE_PASSWORD: 

  RETAIL_ORDERS_MESSAGING_PROVIDER: rabbitmq

  RETAIL_ORDERS_MESSAGING_RABBITMQ_ADDRESSES: rabbitmq:5672

  RETAIL_ORDERS_MESSAGING_RABBITMQ_USERNAME: 

  RETAIL_ORDERS_MESSAGING_RABBITMQ_PASSWORD: 

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
